<ul>
  {{#each model as |contact|}}
    <li>
      {{#link-to 'contact' contact}}
      <p>
        {{contact.lastName}},{{contact.firstName}}
      </p>
      <p>{{contact.email}}</p>
      {{/link-to}}
    </li>
  {{else}}
    <li>No contacts found.</li>
  {{/each}}
</ul>